/* CSS stillerinizi buraya girin */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    color: #bf9653bf;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: auto auto;
}

header nav a {

    padding: 0.5vw 1vw;
    color: #bf9653bf;
    cursor: pointer;
    /*border-radius: 1vw;
    background-color: #111111;
    border: 2px solid #BF9553;*/
}

main {
    background-image: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?cs=srgb&dl=pexels-pixabay-270360.jpg&fm=jpg&_gl=1*1d95u1d*_ga*MTU0NzIzNjg3MS4xNjY4MDk3ODkx*_ga_8JE65Q40S6*MTY2ODA5Nzg5OS4xLjEuMTY2ODA5NzkzNy4wLjAuMA..");
    background-size: cover;
    width: 60vw;
    margin: auto auto;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}

main div {
    text-align: center;
}

main button {
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 1vw;
    background-color: #111111;
    border-style: outset;
    border-color: #bf9653bf;
    color: #FFE9C6;

}

button:hover {
    background-color: #BF9553;
    color: #FFE9C6;
    border-style: inset;
    border-color: #bf9653bf;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: 5% auto;
    width: 60%;
}

section div {
    width: 30%;
    text-align: center;
}

section h3 {
    margin-bottom: 30px;
}

section img {
    width: 100%;
}

footer {
    text-align: center;
    margin: auto auto;
    padding: 1vw 2vw;
}

footer button {
    border-radius: 1vw;
    margin-bottom: 5vw;
    text-decoration: none;
    cursor: pointer;
    background-color: #111111;
    border-color: #bf9653bf;
    border-style: outset;
    color: #BF9553;
    padding: 1vw 2vw;
}

footer nav .socialMedia i{
    color:white;
    font-size: 2rem;
    margin: 20px 30px;
    text-align:center;
    cursor: pointer;
}

@media(max-width: 768px) {
    header {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 50vw;
    }

    header nav a {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 10px 30px;
    }

    main {
        width: 90vw;
        height: 56vw;
    }

    section {
        width: 90vw;
    }

    section div {
        width: 45%;
    }

}

@media(max-width: px) {}